.hero-section{
    background-image: url(Asset/FondoPlaya.jpg);
    background-repeat: no-repeat;
   background-position: 0px 0px;
    background-size: cover;
    margin-bottom: 2cm;
} 

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
    padding-left: 5cm;
}

.serv-img{
    box-sizing: content-box;
    height: 1400px;
    width: 30px;
    border-inline: 2px;
}
.izq{
    min-width: 900px; max-width: 1296px; min-height: 240px;
}
.der{
    min-width: 900px; min-height: 240px;
}

.tituloR {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .contenidoR {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  .tituloRR {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: black;
  } .d-block.w-100{
    height: 800px;
  }
  #github{
    border-radius: 20%;
    width: 20px;
    height: auto;
    object-fit: fill;
    margin-left: 5px;
}


  @media screen and (max-width: 992px) {
    .tituloRR{
        position: absolute;
        right: 0;
        font-size: 40px;
    }
    .d-block.w-100{
        height: 350px;
      }
  }
  