section{
    background-image: url(Asset/pexels-abbas-mohammed-3680912.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    margin-bottom: 2cm;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
    padding-left: 5cm;
}

.tittle21 {
    color: aliceblue;
}
.serv-img{
    box-sizing: content-box;
    height: 1400px;
    width: 30px;
    border-inline: 2px;
}