

.navbar {
    background-color: #f5ececdc;
    height: 80px;
    border-radius: 16px;
} 

.navbar.navbar-expand-lg.sticky-top{
    background-color: #e9dcdc00 !important;
    opacity: 100% !important;
}

.navbar .navbar-brand {
    color: #f1edf3;
    
    font-size: 24px;
    transition: 0.5s color;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.nav-link {
    color: #eae2ec;
    font-weight: 500;
    position: relative;
}

.a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
    color: #eee6e6;
}

@media(min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #ae00ff;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

.offcanvas-title {
    color: #ece2e2;

}

.login-button {
    background-color: #a13dcf;
    color: #fdfdfd;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s background-color;
}

.login-button:hover {
    background-color: #18bbe4;
}

a:not([Mhm]):not([login-button]) {
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.container-fluid {
    padding-left: 28px !important;
    padding-right: 28px !important;
}