.navbar{
    border: 1px solid black;
    padding: 10px;
}

.header{
    border: 1px solid black;
    padding: 10px;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 15px;

}

.subcontenedor{
    position: relative;
    max-width: 300px;
}

.subcontenedor button{
    position: absolute;
    top: 40%;
    left: 33%;
    background-color: rgba(66, 65, 65, 0.486);
    border: 1px solid rgba(255, 255, 255, 0.486);
    color: white;
}

.img-subcontenedor {
    width: 300px;
    height: 215px;    
}

.container h2{
    padding: 10px;
    padding-bottom: 0;
}

.container p {
    text-align: justify;
    padding: 10px;
}

.container button{
    margin-left: 10px;

}

@media screen and (max-width: 767px) {

.contenedor{
    display: grid;
    align-content: center;
}



}